td{padding: 0}
tr{background-color: #b9b9b9}
body {background-color: #b9b9b9; width: 99%}
div{height: 111px}
		
.styledbutton{
	background-color: black;
	text-align: center;
	padding: 20px 10px;
	font-size: 22px;
	width: 4.5cm;
	height: 1cm;
	border: 4px solid #00bfff;
	color: #00bfff;
	}
	
	.pagesbutton{
	background-color: black;
	text-align: center;
	padding: 20px 10px;
	font-size: 22px;
	border: 4px solid #00bfff;
	color: #00bfff;
	}
	.pagesbutton:hover{
	background-color: white;
	color: #00bfff;
	}

.styledbutton:hover{
	background-color: white;
	color: #00bfff;
	}

table.center{
	margin-left:auto; 
	margin-right:auto;
}

a:link{
	text-decoration: none;
}